.card {
    border: none;
    box-shadow: 3px 1px 3px gray;
    padding: 20px;
    background-color: white;
    text-align: center;
    color: #333;
    height: 350px;
    width: 300px;

}

button {
    margin: 1rem;
}