.card {
    border: none;
    box-shadow: 3px 1px 3px gray;
    padding: 20px;
    background-color: white;
    text-align: center;
    color: #333;
    height: 350px;
    width: 300px;
    position: relative;

}

button {
    margin: 0.5rem;
}

.mark {
    position: absolute;
    top: 10px;
    right: 5px;
}

.hide1 {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    background-color: gray;
    padding: 5px;
    color: white;
}

.mark:hover + .hide1 {
    display: block;
}

.probation {
    position: absolute;
    top: 10px;
    right: 5px;
}

.hide2 {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    background-color: gray;
    padding: 5px;
    color: white;
}

.probation:hover + .hide2 {
    display: block;
}

.job {
    background-color: #ffc8b4;
    display: inline;
    padding-inline: 5px;
    border-radius: 5px;
}

.date {
    font-style: italic;
}

.passion {
    text-decoration: underline;
}

.topleft {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 5px;
    border-bottom-right-radius: 10px;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./data/person.webp');
    
  }